.uvodni-sekce {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 32px;
    gap: 40px;
    flex-wrap: wrap;
}

.uvodni-text {
    flex: 1;
    min-width: 300px;
    border: 5px solid white;
    border-radius: 75px;
    margin: auto;
    padding: 15px;
    background-color: #6E3CB5;
    font-weight: bolder;
    text-align: center;
}

.uvodni-obrazek {
    flex: 1;
    min-width: 300px;
    text-align: right;
}

.uvodni-obrazek img {
    max-width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 5px solid white;
}

.nadpis {
    padding-top: 16px;
    font-weight: bolder;
    text-align: center;
}

.podtext {
    font-size: x-large;
    text-align: center;
}

.stridava-sekce {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 32px;
    gap: 40px;
    flex-wrap: wrap;
}

.text-sekce {
    flex: 1;
    max-width: 1000px;
    border: 5px solid white;
    border-radius: 75px;
    margin: auto;
    padding: 15px;
    background-color: #6E3CB5;
    font-weight: bolder;
    text-align: center;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .uvodni-sekce {
        flex-direction: column;
        text-align: center;
    }

    .uvodni-obrazek {
        text-align: center;
    }
}