#banner {
    border: 8px solid gainsboro;
    border-radius: 40px;
    background-color: darkcyan;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#header {
    border: 5px solid white;
    border-radius: 30px;
    background-color: cornflowerblue;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#banner-content {
    
}
.headernadpis {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    padding: 25px;
    font-weight: bolder;
    margin: auto;margin-bottom: 10px;
}