#banner {
    border: 10px solid gainsboro;
    border-radius: 40px;
    background-color: darkcyan;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}
#header {
    border: 5px solid white;
    border-radius: 30px;
    background-color: cornflowerblue;
    width: 250px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
#banner-content {
    border: 5px solid gainsboro;
    border-radius: 25px;
    background-color: gray;
    color: white;
    margin: 50px;
    padding: 25px;
}
.headernadpis {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-align: center;
    padding: 25px;
    font-weight: bolder;
    margin: auto;
}
#button-area {
    align-items: center;
}
.buttons {
    border: 2px solid black;
    border-radius: 20px;
    background-color: gainsboro;
    font-weight: bold;

}