#nadpis {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

#textPodNadpisem {
    margin: 25px;
    flex: 1;
    min-width: 300px;
    font-size: x-large;
    text-align: center;
}

.nadpis {
    flex: 1;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 25px;
    margin-left: 40%;
    margin-right: 40%;
    background-color:teal;
    border: solid 5px white;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .nadpis {
        flex-direction: column;
        text-align: center;
    }
}